<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/DietStyle.css">
    <title>Document</title>
</head>
<body>
    <div class="container">   
    <div class="parent card2">
        <div class="card ">
            <div class="content-box">
                <h1 class="card-title">fasting</h1>
                <p class="card-content" dir="rtl">
                    یکی از روش‌های رایج fasting، روش 16/8 است که در آن شما به مدت 16 ساعت در روز روزه می‌گیرید و در طول 8 ساعت باقی‌مانده مصرف غذا دارید.
                <button class="see-more" dir="rtl">درخواست رژیم</button>
            </div>
            <div class="date-box">
                <span class="month">JUNE</span>
                <span class="date">29</span>
            </div>
        </div>
    </div>     
</div>
</body>
</html>