<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/EveStyle.css">
</head>

<body>

  <header class="header_container">
    <div class="section_content_header">
      <div class="left_content_header">
        <h1 dir="rtl", style="color: #ffd700; font-weight: 500">
              جستجوی آرامش در بالا ترین نقاط
        </h1>
        <p dir="rtl">
          من به شما چالش می‌دهم! یک چالشی که پر از هیجان، ماجراجویی و زیبایی طبیعت است. ما قصد داریم یک سفر کوهنوردی به یکی از زیباترین مناطق طبیعت برگزار کنیم و می‌خواهم شما نیز به این ماجراجویی فوق‌العاده بپیوندید.
          <br>
          این سفر کوهنوردی فرصتی استثنایی برای شکوفایی، ارتقاء قدرت فردی و به دست آوردن تجربه‌ای فراتر از انتظارات است. ما با یک تیم حرفه‌ای و با 
          تجربه به همراه یک راهنمای ماهر، قصد داریم این مسیر را طی کنیم و به دنبال همان لحظات هیجان‌انگیز و خاطره‌انگیز باشیم.
          <br>
          حالا سوالم اینه که....
          <br>
          پایۀ این ماجراجویی هستی؟؟!
        </p>
        <form action="">
          <button dir="rtl">
        پایه ام!!!
          </button>
        </form>
      </div>
      <div class="right_content_header">
        <img src="../static/pics/so.PNG" alt="">
        <img src="../static/pics/so(2).jpg" alt="">
        <div class="content_img_text">
          <ul dir="rtl">
            <li>
            وعدۀ ما گنبد جنبلیه
            </li>
            <li>
              ساعت شش صبح
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

</body>

</html>