{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static '../static/css/home.css' %}" type="text/css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  
  <title>home</title>
</head>

<body>

  <section class="section_site">
    <div class="cricle_shadow postion_right"></div>
 
    <div class="main_img">
      <img src="{% static '../static/pics/soo.png' %}" alt="">
    </div>
    <div class="conetnt">
      <h1>
          WELLCOME!
      </h1>
      <button>Events</button>
      <button>Join now</button>
      <p>Energize Your Desire</p>
    </div>
    <div class="sid">
      <span>
        contact us
      </span>
      <img src="{% static '../static/pics/arrow.png1.png ' %}" class="width_arrow" alt="">
      <div class="icon_sid">
        <ul>
          <li>
            <i class="bx bxl-facebook-circle"></i>
          </li>
          <li>
            <i class="bx bxl-instagram"></i>
          </li>
          <li>
            <i class="bx bxl-tiktok"></i>
          </li>
          <li>
            <i class="bx bxl-twitter"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="dot_bottom_left">
      <img src="{% static '../static/pics/dotts.png' %}" alt="">
    </div>
  </section>
  
</body>

</html>
{% endblock content %}