<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='../static/css/home.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <title></title>
</head>

<body>

  <header class="header_main_site">
    <div class="dots_pattern">
      <img src="pics/dotts.png" alt="">
    </div>
    <div class="logo">
      <img src="../static/pics/logoo.png" alt="">
    </div>
    <nav class="navgation_site">
      <li>
        <a href="#" class="cative_link">Home</a>
      </li>
      <li>
        <a href="#">ورود/ثبت نام</a>
      </li>
      <li>
        <a href="#">Diet</a>
      </li>
      <li>
        <a href="#">Join now</a>
      </li>
      <li>
        <a href="#">Events</a>
      </li>
    </nav>
    <div class="cricle_shadow postion_left"></div>
  </header>
  <section class="section_site">
    <div class="cricle_shadow postion_right"></div>
 
    <div class="main_img">
      <img src="../static/pics/soo.png" alt="">
    </div>
    <div class="conetnt">
      <h1>
          WELLCOME!
      </h1>
      <button>Events</button>
      <button>Join now</button>
      <p>Energize Your Desire</p>
    </div>
    <div class="sid">
      <span>
        تماس با ما

      </span>
      <img src="../static/pics/arrow.png1.png" class="width_arrow" alt="">
      <div class="icon_sid">
        <ul>
          <li>
            <i class="bx bxl-facebook-circle"></i>
          </li>
          <li>
            <i class="bx bxl-instagram"></i>
          </li>
          <li>
            <i class="bx bxl-tiktok"></i>
          </li>
          <li>
            <i class="bx bxl-twitter"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="dot_bottom_left">
      <img src="../static/pics/dotts.png" alt="">
    </div>
  </section>
  
<footer>
  <div class="col" dir="rtl" style="color: #fff;">
    <h3>
      SOREN GYM
    </h3>
    <p>کرمان</p>
    <p>خیابان احمدی</p>
    <p>پارک مطهری</p>
    <p class="email_id">sorengym@gmail.come
    </p>
    <h4>034-12345678
    </h4>
  </div>
  <hr>
  <p class="copyright">Click team © 2024 - All Rights Reserved</p>
</footer>
</body>

</html>